# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cmake-build-debug/CMakeFiles/3.14.5/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.14.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.14.5/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.14.5/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.14.5/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.14.5/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.14.5/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.14.5/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/tlc5947_spi.dir/build.make
/cmake-build-debug/CMakeFiles/tlc5947_spi.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/tlc5947_spi.dir/depend.make
/cmake-build-debug/CMakeFiles/tlc5947_spi.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/tlc5947_spi.dir/flags.make
/cmake-build-debug/CMakeFiles/tlc5947_spi.dir/includes_CXX.rsp
/cmake-build-debug/CMakeFiles/tlc5947_spi.dir/link.txt
/cmake-build-debug/CMakeFiles/tlc5947_spi.dir/linklibs.rsp
/cmake-build-debug/CMakeFiles/tlc5947_spi.dir/objects1.rsp
/cmake-build-debug/CMakeFiles/tlc5947_spi.dir/progress.make
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/feature_tests.bin
/cmake-build-debug/CMakeFiles/feature_tests.c
/cmake-build-debug/CMakeFiles/feature_tests.cxx
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Makefile
/cmake-build-debug/tlc5947_spi.cbp
/.idea/.name
/.idea/deployment.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/serialmonitor_settings.xml
/.idea/tlc5947-spi.iml
/.idea/vcs.xml
/.idea/workspace.xml
/CMakeLists.txt
